body {
    padding-top: 5rem;
}
#side-by-side{
    width: 900px;
	margin-left: auto;
	margin-right: auto;
	
}
img{
    display: block;
	margin-left: auto;
	margin-right: auto;
    border-radius: 50%;
}

button{
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
